global_defs {

   router_id {{.RouteID}}
}

{{range .Vrrps}}
vrrp_instance {{.Name}} {
    interface {{.Interface}}
    virtual_router_id {{.RouteID}}
    priority {{.Priority}}
    advert_int {{.Advert}}
    virtual_ipaddress {
        {{range .VIPs}}{{.}}{{end}}
    }
}
{{end}}

{{range .VirtualServers}}
virtual_server {{.Addr}} {
    delay_loop 2
    lb_algo {{.LBAlgo}}
    lb_kind NAT
    {{if .PersistenceTimeout}} persistence_timeout {{.PersistenceTimeout}} {{end}}
    protocol {{.Protocol}}
    {{range .RealServers}}
    real_server {{.Addr}} {
        weight {{.Weight}}
    }
    {{end}}
}
{{end}}
